@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    overflow-y: auto;
}

nav {
    height: 65px;
    background-color: #101010;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

.logo {
    margin-right: 2.5rem; /*40*/
}

.btn,
.btn1 {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 1.2rem; /*20*/
}

.btn:hover,
.btn1:hover {
    color: rgb(187, 185, 185);
}


.search {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.noticon {
    filter: invert(1);
    cursor: pointer;
}

.pro {
    border: none;
    background: transparent;
    cursor: pointer;
}

.pro img {
    display: block;
    border-radius: 4px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 20px 40px;
  margin-top: 25px;
  overflow: visible;
}

.gallery img {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.genre,
.title {
    display: inline;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.heading {
    margin-top: 10vh;
}

.genre{
    color: grey;
    font-size: 1.7rem;
    margin-left: 2.5rem;
}


